.picto {
    font-size: 1.5rem;
    font-weight: 600;
}

.machine {
  color: #9A8678;
}

.person {
  color: #AD5C71;
}

.stable {
  color: #008642;
}

.placeholder {
  color: #ffa23f;
}

.empty {
  color: #FF4081;
}

:root {
--fedramp-admonition-schema-color: #d69e00;
--fedramp-admonition-schema-bg-color: rgba(214, 158, 0, 0.14);
}

.md-typeset .admonition.schema,
.md-typeset details.schema {
  background-color: var(--fedramp-admonition-schema-bg-color);
}

.md-typeset .schema > .admonition-title::before,
.md-typeset .schema > summary::before {
  background-color: var(--fedramp-admonition-schema-color);
  -webkit-mask-image: var(--md-admonition-icon--schema);
  mask-image: var(--md-admonition-icon--schema);
}

.md-typeset .schema > .admonition-title::after,
.md-typeset .schema > summary::after {
  color: var(--fedramp-admonition-schema-color);
}

